
version: 2.1

jobs:
  build-macos:
    macos:
      xcode: "16.2.0"
    steps:
      - checkout
      - run:
          name: Brew install bsdmake
          command: brew install bmake
      - run:
          name: Compile
          command: bmake

  build-linux:
    docker:
      - image: cimg/base:stable
    resource_class: denislemire/atomk3s
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: sudo apt update && sudo apt install -y bmake
      - run:
          name: Compile
          command: bmake

  build-linux-arm:
    docker:
      - image: cimg/base:stable
    resource_class: denislemire/runnerpi
    steps:
      - run:
          name: Manual checkout
          command: git clone -b ${CIRCLE_BRANCH} ${CIRCLE_REPOSITORY_URL}
      - run:
          name: Install dependencies
          command: sudo apt update && sudo apt install -y bmake
      - run:
          name: Compile
          command: bmake


workflows:
  build:
    jobs:
      #- build-macos
      #- build-linux
      - build-linux-arm
