version: 2.1

parameters:
  run-build:
    type: boolean
    default: false

jobs:
  build-macos:
    macos:
      xcode: "16.2.0"
    steps:
      - checkout
      - run:
          name: Brew install bsdmake
          command: brew install bmake
      - run:
          name: Compile
          command: bmake
      - store_artifacts:
          path: ~/project/src/passwdgen

  build-linux:
    docker:
      - image: cimg/base:2025.02
    resource_class: denislemire/atomk3s
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: sudo apt update && sudo apt install -y bmake
      - run:
          name: Compile
          command: bmake
      - store_artifacts:
          path: ~/project/src/passwdgen

  build-linux-arm:
    docker:
      - image: cimg/base:2025.02
    resource_class: denislemire/runnerpi
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: sudo apt update && sudo apt install -y bmake
      - run:
          name: Compile
          command: bmake
      - store_artifacts:
          path: ~/project/src/passwdgen

workflows:
  build:
    when: << pipeline.parameters.run-build >>
    jobs:
      - build-macos
      - build-linux
      - build-linux-arm
